<body>
<img src="https://www.pngitem.com/pimgs/m/478-4787224_transparent-green-screen-iphone-hd-png-download.png" alt="" id = "background">
<form name = "write">
  <input type="text" id = "texts" value = "" disabled maxlength = "4">
</form>
<form id = "buttons" >
  <button type= "button" id = "one" value="1" (click) ="count($event)">1</button>
  <button type= "button" id = "two" value = "2" (click) ="count($event)">2</button>
  <button type= "button" id = "three" value = "3" (click) ="count($event)">3</button>
  <button type= "button" id = "four" value = "4" (click) ="count($event)">4</button>
  <button type= "button" id = "five" value = "5" (click) ="count($event)">5</button>
  <button type= "button" id = "six" value = "6" (click) ="count($event)">6</button>
  <button type= "button" id = "seven" value = "7" (click) ="count($event)">7</button>
  <button type= "button" id = "eight" value = "8" (click) ="count($event)">8</button>
  <button  type= "button" id = "nine" value = "9" (click) ="count($event)">9</button>
  <button id = "zero" value = "0" (click) ="count($event)">0</button>
  <button id = "sum" value = "+" (click) = "sum()">+</button>
  <button id = "equal" value = "=" (click) = "showres()">=</button>
  <button id = "ce" value = "CE" (click) = "clear()">CE</button>
  <button id = "multi" value = "x" (click) = "mult()">x</button>
  <button id = "mins" value = "-" (click) = "minus()">—</button>
  <button id = "divi" value = "/" (click) = "divide()">/</button>
  <button id = "pow" value = "power(x, y)" (click) = "pow()">pow</button>
  <button id = "remind" value = "%" (click) = "remind()">%</button>
  <button id = "sqrt" value = "sqrt" (click) = "sqrt()">sqrt</button>
  <button id = "c" value = "C" (click) = "c()">C</button>
  <button id = "onediv" value = "sqrt" (click) = "onediv()">1/x</button>
</form>
</body>